@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

form, label, button {
  margin: 10px;
}

.cont {
  text-align: center;
}

input {
  border-radius: 5px;
  border-style: solid;
  height: 20px;
}

input:hover {
  background-color: lightblue;
}

button {
  color: white;
  width: 140px;
  height: 40px;
  background-color: dodgerblue;
  border-radius: 5px;
  /* border-style: solid; */
  cursor: pointer;
}

button:hover {
  background-color: purple;
}

.card {
  font-size: 36px;
  font-family: 'Roboto';
  background-color: lightgray;
  padding: 10px 0;
  margin: 50px;
  border-radius: 20px;
}

.name p {
  color: red;
  font-weight: bold;
  margin: 20px;
}

.email p{
  font-size: 30px;
  margin: 0;
}

.phone p {
  color: dodgerblue;
  font-size: 30px;
  margin: 15px 0 0 0;
}

.skill p {
  display: inline;
  margin: 0;
  padding: 0 20px;
  font-size: 20px;
}